/* Fonts */
/* Image size */
/*fontsize*/
/* Calculate values */
/* Gap Grid Portfolio */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 80px;
}

.header .logo a {
  padding: 1.5rem;
}

.header .logo img {
  width: 3.7rem;
  height: auto;
}

/* Fonts */
/* Image size */
/*fontsize*/
/* Calculate values */
/* Gap Grid Portfolio */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Cormorant Garamond", serif;
  background: #3f5983;
  height: 100vh;
  background-image: url(../IMG/header_portfolio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
a {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

p {
  font-family: "Cormorant Garamond", serif;
  color: #505050;
}

a {
  color: #689ff7;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}

a:hover {
  color: #2e9e79;
}

div,
img {
  width: 100%;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Fonts */
/* Image size */
/*fontsize*/
/* Calculate values */
/* Gap Grid Portfolio */
/* about */
.section-about-mb {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 95rem;
  text-align: center;
}

.container-about h2 {
  font-size: 3em;
  font-weight: 700;
}

.container-about h3 {
  font-size: 2em;
  font-weight: 400;
}

.container-about .img-bg {
  background-image: url(/IMG/janou-t-1.png);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: contain;
     object-fit: contain;
  height: 50pc;
  color: #a7a7a7;
}

.about-text {
  background-color: #a7a7a7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  text-align: center;
  font-size: 1.5em;
  color: #000;
}

.tile {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  padding: 1em 1.5rem;
  background-color: #a7a7a7;
  color: #4287f5;
}

.tile-text {
  padding-top: 50px;
}

h3 {
  color: #ffffff;
}

/* Fonts */
/* Image size */
/*fontsize*/
/* Calculate values */
/* Gap Grid Portfolio */
/* Mobile first*/
/* navigation */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}

.toggle-btn {
  position: relative;
  color: #689ff7;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.nav-menu li {
  list-style-type: none;
  background-color: transparent;
}

.nav-menu li:hover {
  color: #4287f5;
}

.nav-menu a {
  color: #c1f2b4;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 1.4rem;
}

.nav-menu a:hover {
  color: #2e9e79;
}

.nav-menu a:active {
  color: deeppink;
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.action-btn-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #42f5b9;
  color: #689ff7;
  width: 100%;
  max-width: 200px;
  height: 3em;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 0.8rem;
  -webkit-transition: scale ease 0.2s;
  transition: scale ease 0.2s;
  cursor: pointer;
}

.action-btn-1:hover {
  scale: 1.05;
}

.action-btn-1:active {
  scale: 0.95;
}

.dropdown-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding: 0;
  top: 80%;
  right: 1rem;
  width: 80%;
  height: 0;
  background-color: rgba(99, 120, 134, 0.856);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}

.dropdown-menu li {
  padding: 0.5rem 0.8rem;
  margin: 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.action-btn-dropdown {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  width: 100%;
  background-color: #4a7391;
  width: 100%;
  max-width: 200px;
  height: 3em;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 0.8rem;
  -webkit-transition: scale ease 0.2s;
  transition: scale ease 0.2s;
  cursor: pointer;
}

.dropdown-menu.open {
  height: auto;
}

/* Fonts */
/* Image size */
/*fontsize*/
/* Calculate values */
/* Gap Grid Portfolio */
.contact-button {
  color: #505050;
  background-color: #689ff7;
  width: 200px;
  height: 70px;
  font-size: 2rem;
  border: solid 2px black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact-button:hover {
  background-color: #2e9e79;
  cursor: pointer;
  color: blanchedalmond;
}

/* Fonts */
/* Image size */
/*fontsize*/
/* Calculate values */
/* Gap Grid Portfolio */
/* portfolio grid */
.container-portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  padding: 0;
  gap: 0;
  width: 100%;
  max-width: 95rem;
  margin: 0 auto;
  font-family: 'Shippori Antique', sans;
  background-color: #42f5b9;
}

.portfolio-item {
  display: block;
  position: relative;
  padding-top: 66, 66%;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #c1f2b4;
}

.portfolio-item a:hover {
  color: #2e9e79;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.portfolio-item h4,
.portfolio-item h5 {
  position: absolute;
  height: 100%;
  bottom: 0;
  z-index: 20;
  text-align: center;
}

.portfolio-item h4 {
  font-size: 2em;
  text-transform: uppercase;
  top: 50%;
  padding: 5px 15px;
}

.portfolio-item h4:hover {
  color: #2e9e79;
}

.portfolio-item h5 {
  font-size: 1.5em;
  top: 65%;
  padding: 5px 15px;
}

.portfolio-item img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.portfolio-item img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.portfolio-item .background-title h4 {
  padding: 0 3em 0 0, 5em;
}

.portfolio-item .link-spanner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Fonts */
/* Image size */
/*fontsize*/
/* Calculate values */
/* Gap Grid Portfolio */
/* Contact Mobile version*/
.section-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  background: #232b39;
  width: 100%;
  max-width: 95rem;
  min-height: 50vh;
  padding: 2em 0;
}

.section-contact .contact-info {
  text-align: center;
  font-size: 1;
}

.section-contact p {
  font-size: 2em;
  color: #c1f2b4;
  padding-bottom: 1em;
}

.section-contact h2 {
  color: #4a7391;
  font-size: 5em;
}

/* Fonts */
/* Image size */
/*fontsize*/
/* Calculate values */
/* Gap Grid Portfolio */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 2rem 1rem;
  background: palegoldenrod;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  max-width: 95rem;
  padding: 5px;
}

.footer-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding-top: 15px;
}

/* Fonts */
/* Image size */
/*fontsize*/
/* Calculate values */
/* Gap Grid Portfolio */
@media screen and (min-width: 992px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-width: 95rem;
    padding: 0;
  }
}

/* On screens that are 992px or less */
@media screen and (max-width: 992px) {
  .nav-menu {
    position: relative;
  }
  .nav-menu li {
    display: none;
  }
  .action-btn-1 {
    display: none;
  }
  .toggle-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .dropdown-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 2000;
  }
  .container-portfolio {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (2fr)[2];
        grid-template-columns: repeat(2, 2fr);
    height: auto;
  }
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px;
  }
}

@media screen and (min-width: 600px) {
  .tile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tile h2 {
    font-weight: 700;
    color: aliceblue;
  }
  .tile h3 {
    font-weight: 400;
    font-style: italic;
    font-size: 2em;
    color: #42f5b9;
  }
}

/* Vanaf tablet en kleiner */
@media screen and (max-width: 600px) {
  .container-portfolio {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    height: auto;
  }
}
/*# sourceMappingURL=main.css.map */