@import './variables';
@import './colors';

/* about */
.section-about-mb {
	justify-content: center;
}
.container-about {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	max-width: 95rem;
	text-align: center;
	h2 {
		font-size: 3em;
		font-weight: 700;
	}
	h3 {
		font-size: 2em;
		font-weight: 400;
	}
	.img-bg {
		background-image: url(/IMG/janou-t-1.png);
		align-items: center;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		object-fit: contain;
		height: 50pc;
		color: $background-color-mid;
	}
}

.about-text {
	background-color: $background-color-mid;
	align-items: center;
	padding: 1rem;
	text-align: center;
	font-size: 1.5em;
	color: #000;
}

.tile {
	flex: 50%;
	align-content: center;
	text-align: center;
	padding: 1em 1.5rem;
	background-color: $background-color-mid;
	color: $primary-color;
}
.tile-text {
	padding-top: 50px;
}
h3 {
	color: $tile-text-color;
}
