@import './colors';
@import './variables';
@import './typography';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: $body-font-family;
  font-size: $font-size;
  font-weight: $font-weight-400;
  line-height: $line-height;
  background-color: transparent;
  line-height: 1.4;
  word-break: break-word;
}

html {
  // scroll-behavior: smooth;
  // font-size: calc(100vw / 1512 * 10);
}

.main-homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  margin: 0 auto;
  padding: 0;
  background-color: $background-color-mid;
}

a {
  text-decoration: none;
}

img {
  width: $image-size;
}

section {
  display: flex;
  flex-direction: column;
  padding: 0;
}
