@import './variables';
@import './colors';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
	scroll-behavior: smooth;
}
body {
	font-family: $body-font;
	background: $background-color;
}
h1,
h2,
h3,
h4,
h5,
h6,
li,
a {
	font-family: $font-header;
	font-weight: 800;
}
p {
	font-family: $body-font;
	color: $font-color;
}

a {
	color: $button-color;
	cursor: pointer;
	text-decoration: none;
	&:hover {
		color: $button-hover-color;
	}
}

img {
	width: 100%;
}

/* about */
.container-about {
	display: flex;
	justify-content: center;
	flex-direction: column;
	.about-text {
		background-color: $background-color-mid;
		align-items: center;
		color: #161b1d;
		padding: 1em 2em;
		text-align: left;
	}
	p {
		padding: 2em 1.5em;
	}
}

.tile {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-content: center;
	text-align: center;
	padding: 1em 1.5rem;
	background-color: $background-color-mid;
	h2 {
		font-size: 2em;
	}
	p {
		color: $font-color;
		font-size: 1.5em;
	}
	h4 {
		font-size: 3em;
	}
}

/* Contact*/
.section-contact {
	display: flex;
	background: #232b39;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	h2 {
		color: $button-menu-color;
		font-size: 5em;
	}
}


