@import "./colors";

.contact-button {
    color: $font-color;
    background-color: $button-color;
    width: 200px;
    height: 50px;
    font-size: x-large;
    &:hover {
        background-color:$button-hover-color;
        cursor: pointer;
    }
}

