@import './colors';
@import './variables';
@import './typography';

.contact-button {
    color: $font-color;
    background-color:$button-color;
    width: 200px;
    height: 70px;
    font-size: $font-size;
    border: solid 2px black;
    transition: 0.3s;
    &:hover {
        background-color:$button-hover-color;
        cursor: pointer;
        color: blanchedalmond;
    }
}

