@import './colors';
@import './variables';
@import './typography';

.section-card {
	width: 100%;
	background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
	margin: 0;
}
.wrapper-card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	max-width: 1920px;
	min-height: 50rem;
	margin: 0 auto;
	gap: 2rem;
	padding: 1rem 2rem;
	.header-card-section {
		display: flex;
		justify-content: center;
		align-content: start;
		align-items: start;
		flex-direction: column;
		flex: 60%;
		max-width: 600px;
		height: 100vh;
		margin-bottom: 1em;
	}
	h2 {
		font-size: $h2;
		margin-bottom: 1em;
	}
	p {
		font-size: clamp(1rem, 1.4vw, 1.45rem);
	}
}
.container-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	min-height: 450px;
	color: $body-font-family;
	transition: transform 1500ms;
	font-size: $font-size;
	.card {
		position: relative;
		width: 100%;
		min-height: 50vh;
		transition: transform 1500ms;
		transform-style: preserve-3d;
		&:hover {
			transform: rotateY(180deg);
		}
		p {
			color: $font-color;
		}
	}
}

.github-icon-container {
	display: flex;
	justify-content: center;
}

.bg-left,
.bg-right {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 15px;
	position: absolute;
}
.bg-left {
	left: 0;
	bottom: 7px;
	.fa-github {
		color: $font-color;
	}
}
.bg-right {
	left: 3rem;
	bottom: 0;
	p {
		height: auto;
		word-wrap: break-word;
		font-size: clamp(1.3vh, 50%, 1.5vh);
		line-height: $line-height;
		font-weight: 300;
	}
}
.front,
.back {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	box-shadow: (0 56px 72px -30px rgba(50, 55, 63, 0.46));
	backface-visibility: hidden;
}
.front {
	background-image: url(../IMG/home.jpg);
	width: 100%;
	height: 100%;
	justify-content: flex-end;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -30px;
	object-fit: contain;
	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		background: $background-img;
		width: 100%;
		min-height: 140px;
		border-radius: 0 0 1rem 1rem;
	}
}
.back {
	background-color: $background-img;
	color: $font-color;
	transform: rotateY(180deg);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
