$primary-color: #4287f5;
$secondary-color: #42f5b9;
$background-color-mid: #a7a7a75b;
$background-color: #ff1493;
$font-color: #505050;
$button-color: #689ff7;
$button-menu-color: #4a7391;
$button-hover-color:#2e9e79;;
$menu-link-hover: #9ff4d8;;
$menu-link-active: #8af6d2;
$background-img: #0c1711;
$section-donkergroen: #1a624a;
$overlay-img: #1f694f66;
$color-heading: #c1f2b4;
$background-menu: #3f5983;
