$primary-color: #4287f5;
$secondary-color: #42f5b9;
$background-color-mid: #a7a7a7;
$background-color:#121212;
$font-color:#505050;
$button-color:#689ff7;
$button-hover-color:#28936f;
$test-background-clr:#93286c;
$background-img:#0c1711;
$section-donkergroen:#1a624a;
$overlay-img:#07181266;
$color-heading:  #a7a7a7;