@use "sass:color";
@use 'colors';
@use 'variables';
@use 'typography';

/* Contact Mobile version*/

.section-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffae5294;
  color: colors.$primary-color;
}
.contact-wrapper {
  width: 600px;
  padding: 0 15px;
}
.contact-container {
  flex-direction: column;
  text-align: center;
  border-radius: 5%;
  padding: 1rem;
  width: 100%;
  height: auto;
  margin: 5rem auto;
  background-color: colors.$background-color-mid;
  h2 {
    font-size: typography.$h2;
    font-weight: 700;
    font-family: typography.$body-font-family;
    line-height: typography.$line-height;
  }
  button {
    background: colors.$button-background-color;
    outline: none;
    width: 100%;
    height: 2em;
    border-radius: 15px;
    border: 1px solid colors.$button-active-color;
    cursor: pointer;
    &:hover {
      background: colors.$button-hover-color;
      transition: ease 0.2s;
    }
    &:active {
      outline: 1px solid colors.$button-active-color;
    }
  }
}
.form-row {
  display: flex;
  margin-right: -5px;
  margin-left: -5px;
  padding-bottom: 1rem;
}
.column {
  flex: 50%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.form-group {
  width: 100%;
  flex: 1;
  border: none;
  padding-bottom: 1rem;
  input {
    font-family: typography.$body-font-family;
    width: 100%;
    height: 4em;
    color: colors.$font-color;
    background: color.adjust($color: #000000, $alpha: -0.5);
    outline: 1px solid rgb(255, 217, 0);
    margin: 1rem 0;
    border: none;
    padding-left: 4px;
    &:hover {
      outline: 1px solid rgb(59, 53, 22);
    }
    &::placeholder {
      color: colors.$font-color;
    }
  }
  textarea {
    font-family: typography.$body-font-family;
    width: 100%;
    outline: 1px solid rgb(255, 217, 0);
    background: color.adjust($color: #000000, $alpha: -0.5);
    color: colors.$font-color;
    border: none;
    margin: 0;
    &:hover {
      outline: 1px solid gold;
    }
    &:active {
      outline: 1px solid gold;
    }
    &::placeholder {
      color: colors.$background-color;
    }
  }
}
.btn {
  font-size: typography.$font-size;
  &:focus {
    outline: none;
  }
}
