@import './colors';
@import './variables';

/* Contact Mobile version*/

.section-contact {
	display: flex;
	justify-content: center;
	flex-direction: column;
	justify-content: space-evenly;
	background: #232b39;
	width: 100%;
	min-height: 50vh;
	padding: 2em 0;
	.contact-info {
		text-align: center;
		font-size: 1;
	}
	p {
		font-size: 2em;
		color: $color-heading;
		padding-bottom: 1em;
	}
	h2 {
		color: $button-menu-color;
		font-size: 5em;
	}
}
