@import './colors';
@import './variables';
@import './typography';

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $background-color-mid;
  font-size: $font-size;
  padding: 0.5em 0;
}
