@import './colors';
@import './variables';

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
    margin:0;
	padding: 2rem 1rem;
	background: palegoldenrod;
}
.footer-container {
	display: flex;
	justify-content: flex-start;
	width:100%;
	max-width: 95rem;
	padding: 5px;
	div {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding-top: 15px;
	}
}