@import './colors';
@import './variables';
@import './typography';

footer {
	div {
		display: grid;
		height: auto;
		width: 100%;
		margin: 0 auto;
		gap: 5%;
		width: 100%;
		max-width: 95rem;
		padding: 1.5rem 1rem 0;
		font-size: $font-size;
		p {
			font-size: 14px;
			color: $font-color;
			padding-bottom: 1em;
		}
	}
}
