@import './colors';
@import './variables';

.header {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	height: 80px;
	.logo {
		a {
			padding: 1.5rem;
		}
		img {
			width: 3.7rem;
			height: auto;
		}
	}
}
