@import './colors';
@import './variables';
@import './typography';

.hero {
  display: flex;
  opacity: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    .hero-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      .hero-content {
        width: 50%;
        .hero-content-inner {
          position: relative;
          max-width: 35rem;
          color: $font-color;
          margin: 0 auto;
          padding: 1.5rem;
          h1 {
            font-weight: $font-weight-500;
            font-size: $h1;
            line-height: $line-height;
            margin-bottom: 1.5rem;
            .hero-content-line {
              margin: 0;
              height: 60px;
              overflow: hidden;
              .hero-content-line-inner {
                height: 60px;
              }
            }
          }
          p {
            font-size: 1.5rem;
            line-height: $line-height;
            font-weight: $font-weight-400;
            padding-right: 48px;
            margin-bottom: 56px;
          }
          .btn-row {
            position: relative;
            &:before {
              content: '';
              position: absolute;
              width: 56px;
              height: 1px;
              background: $font-color;
              top: 50%;
              left: -68px;
              cursor: pointer;
            }
            button {
              background: none;
              border: none;
              font-size: 0.75rem;
              padding: 0;
              cursor: pointer;
              text-transform: uppercase;
              font-weight: 700;
              letter-spacing: 0.7px;
              display: flex;
              align-items: center;
              position: relative;
              &:focus {
                outline: none;
              }
              .arrow-icon {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $button-background-color;
                height: 48px;
                width: 48px;
                border-radius: 100px;
                margin-left: 16px;
                left: 64px;
                transition: all 0.2s ease;
                &:hover {
                  background: $button-hover-color;
                  transform: rotateZ(90deg);
                  scale: 1.05;
                }
                &:active {
                  scale: 0.95;
                }
              }
            }
          }
        }
      }
      .hero-images {
        width: 50%;
        height: 100vh;
        position: relative;
        margin: 0 auto;
        .div-yellow {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #ffffa2;
          width: clamp(200px, 40vh, 500px);
          height: clamp(200px, 40vh, 500px);
        }
        .hero-images-inner {
          position: relative;
          height: 100%;
          .hero-image {
            // overflow: hidden;
            width: 100%;
            position: relative;
            &.janou {
              position: absolute;
              top: 186px;
              right: 179px;
              width: 45%;
              height: 60%;
              z-index: 2;
            }
            &.hertz {
              position: relative;
              top: 90px;
              left: 10%;
              width: 25%;
              height: 100%;
              z-index: 3;
              cursor: pointer;
              background-image: url('../IMG/terese_bertha.jpg');
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
              transition: 0.5s ease-in-out;
              &:hover::before {
                content: attr(data-tooltip);
                position: absolute;
                top: 70%;
                left: 4.5rem;
                padding: 1rem;
                min-width: 8rem;
                min-height: 10%;
                border-radius: 0.3rem;
                color: #ffffff;
                background-color: $button-background-color;
                transform: translateX(-150%) translateY(-200%);
                // &:hover::after {
                //   content: '';
                //   position: absolute;
                //   top: 60vh;
                //   left: -43px;
                //   width: 20px;
                //   height: 20px;
                //   background-color: rgb(0, 0, 0);
                //   border: 10px solid black;
                //   border-right-color: black;
                // }
              }
            }
            img {
              width: 100%;
            }
          }
          // .tooltip {
          //   position: relative;
          //   cursor: pointer;
          //   border-bottom: 2px dotted black;
          //   padding: 7px 10px;
          //   font-size: 25px;
          // }
          // .tooltip-text {
          //   background-color: #ffffa2;
          //   color: #000;
          //   position: absolute;
          //   left: 50%;
          //   top: 0;
          //   transform: translateX(-50%);
          //   ::before {
          //     content: '';
          //     position: absolute;
          //     left: 50%;
          //     top: 100%;
          //     transform: translateX(-50%);
          //     border: 15px solid;
          //     border-color: #000 #0000 #000 #000;
          //   }
          // }
        }
      }
    }
  }
}
