@import './colors';
@import './variables';
@import './typography';

.hero {
  display: flex;
  opacity: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    .hero-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      .hero-content {
        width: 50%;
        .hero-content-inner {
          position: relative;
          max-width: 35rem;
          color: $font-color;
          margin: 0 auto;
          padding: 1.5rem;
          h1 {
            font-weight: 500;
            font-size: $h1;
            line-height: $line-height;
            margin-bottom: 1.5rem;
            .hero-content-line {
              margin: 0;
              height: 60px;
              overflow: hidden;
              .hero-content-line-inner {
                height: 60px;
              }
            }
          }
          p {
            font-size: 1.5rem;
            line-height: $line-height;
            font-weight: $font-weight;
            padding-right: 48px;
            margin-bottom: 56px;
          }
          .btn-row {
            position: relative;
            &:before {
              content: '';
              position: absolute;
              width: 56px;
              height: 1px;
              background: $font-color;
              top: 50%;
              left: -68px;
              cursor: pointer;
            }
            button {
              background: none;
              border: none;
              font-size: 0.75rem;
              padding: 0;
              cursor: pointer;
              text-transform: uppercase;
              font-weight: 700;
              letter-spacing: 0.7px;
              display: flex;
              align-items: center;
              position: relative;
              &:focus {
                outline: none;
              }
              .arrow-icon {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $button-background-color;
                height: 48px;
                width: 48px;
                border-radius: 100px;
                margin-left: 16px;
                left: 64px;
                transition: all 0.2s ease;
                &:hover {
                  background: $button-hover-color;
                  transform: rotateZ(90deg);
                  scale: 1.05;
                }
                &:active {
                  scale: 0.95;
                }
              }
            }
          }
        }
      }
      .hero-images {
        width: 50%;
        height: 100vh;
        position: relative;
        margin: 0 auto;
        .div-yellow {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #ffffa2;
          width: clamp(200px, 40vh, 500px);
          height: clamp(200px, 40vh, 500px);
        }
        .hero-images-inner {
          position: relative;
          height: 100%;
          .hero-image {
            overflow: hidden;
            width: 100%;
            position: relative;
            &.janou {
              position: absolute;
              top: 186px;
              right: 179px;
              width: 45%;
              height: 60%;
              z-index: 2;
            }
            &.hertz {
              position: absolute;
              bottom: -93px;
              left: 150px;
              width: 25%;
              height: 60%;
              z-index: 3;
              cursor: pointer;
            }
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
  // .tooltip {
  //   // display: inline-block;
  //   // position: relative;
  //   // border-bottom: 1px dotted #666;
  //   // text-align: left;
  //   display: block;
  //   position: absolute;
  //   // border-bottom: 1px dotted #666;
  //   text-align: left;
  //   color: transparent;
  //   font-size: xx-large;
  //   left: 20%;
  //   bottom: 40%;
  //   z-index: 100;
  // }

  // .tooltip .left {
  //   min-width: 200px;
  //   max-width: 400px;
  //   top: 50%;
  //   right: 100%;
  //   margin-right: 20px;
  //   transform: translate(0, -50%);
  //   padding: 10px 20px;
  //   color: #000000;
  //   background-color: #dddddd;
  //   font-weight: normal;
  //   font-size: 13px;
  //   border-radius: 8px;
  //   position: absolute;
  //   z-index: 99999999;
  //   box-sizing: border-box;
  //   border: 1px solid transparent;
  //   box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  //   visibility: hidden;
  //   opacity: 0;
  //   transition: opacity 0.8s;
  // }

  // .tooltip:hover .left {
  //   visibility: visible;
  //   opacity: 1;
  // }

  // .tooltip .left i {
  //   position: absolute;
  //   top: 50%;
  //   left: 100%;
  //   margin-top: -25px;
  //   width: 25px;
  //   height: 50px;
  //   overflow: hidden;
  // }

  .wrapper-tooltip {
    position: absolute;
    top: 50vh;
    left: 10px;
    z-index: 400;
  }

  .tooltip {
    position: relative;
    z-index: 500;
    &:hover::after {
      content: attr(data-tooltip);
      background-color: deeppink;
      min-width: 200px;
      max-width: 400px;
      padding: 15px;
      border-radius: 15px;
      font-size: 1em;
      line-height: 1.7em;
      position: absolute;
      z-index: 1000;
      right: 100%;
      top: 0;
      opacity: 1;
      i {
        margin-left: 30px;
      }
    }
  }
}
