@import './colors';
@import './variables';
@import './typography';

.container-intro {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 0;
  color: $button-background-color;
  padding: 1.5rem 0;
  max-width: 100vw;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: $secondary-color;
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100vw;
    height: max-content;
    touch-action: none;
  }
  .circle-container {
    width: 50vw;
    height: auto;
    justify-self: start;
    align-items: center;
    flex-basis: 33.33%;
    position: relative;
    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
    .circle-inner {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $font-color;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.intro-title {
  position: absolute;
  width: 100%;
  text-align: center;
  h2 {
    font-size: $h2 * 2.2;
    color: $secondary-color;
  }
}

#intro-text {
  // opacity: 0;
  // transform: translateY(-50px);
  // transition: opacity 1s ease, transform 1s ease, color 1s ease;
  text-align: left;
  max-width: 40vw;
  flex-basis: 40%;
  padding: 0 2rem;
  line-height: 1.6;
  h3 {
    font-size: $h3;
    padding-bottom: 1.125rem;
    color: white;
    line-height: 1.2;
  }
  p {
    font-size: clamp(1rem, 1.4vw, 1.25rem);
    color: white;
  }
}

// #intro-text.visible {
//   opacity: 1;
//   transform: translateY(0);
//   color: white;
//   transition-delay: 0.8s;
// }
