@import './variables';
@import './colors';
// //Desktop
@media screen and (min-width: 992px) {
	.header {
		justify-content: space-between;
		align-items: center;
		padding: 0 2em;
	}
	.container-about {
		flex-direction: row;
	}
}

@media screen and (min-width: 300px) {
	.tile {
		width: 100%;
		height: auto;
		justify-content: center;
		align-items: center;
		h2 {
			font-weight: 00;
			font-size: 2.8em;
			color: $primary-color;
		}
		h3 {
			font-weight: 400;
			font-style: italic;
			font-size: 2em;
			color: $secondary-color;
		}
	}
	.img-bg {
		flex-direction: column;
		background-image: url(/IMG/janou-t-1.png);
		object-fit: cover;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 40vh;
		color: $background-color-mid;
		padding: 5px;
	}
}

/* Vanaf tablet en kleiner */
@media screen and (max-width: 992px) {
	.hamburger {
		display: block;
		z-index: 100;
		position: relative;
	}
	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
		cursor: pointer;
		&:hover {
			color: $secondary-color;
		}
	}
	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
	.nav-menu {
		justify-content: start;
		flex-direction: column;
		align-items: center;
		position: fixed;
		top: 0;
		right: -100%;
		background-color: $background-menu;
		width: 100%;
		height: 100%;
		padding-top: 20vh;
		cursor: pointer;
	}
	.nav-item {
		margin: 16px 0;
	}
	.nav-menu.active {
		left: 0;
	}
}

@media screen and (max-width: 400px) {
	.container-portfolio {
		display: flex;
		flex-direction: column;
		width: 100%;
		min-height: 400px;
	}
}

/* Desktop media queries */

@media screen and (min-width: 786px) {
	.hamburger,
	.toggle-menu {
		display: none;
	}
	.tile {
		width: 100%;
		height: auto;
		justify-content: center;
		align-items: center;
		h3 {
			font-weight: 400;
			font-size: 2em;
			color: $secondary-color;
		}
		h2 {
			font-weight: 700;
			font-size: 2.8em;
			color: $primary-color;
		}
	}
	.img-bg {
		background-image: url(/IMG/janou-t-1.png);
		align-items: center;
		width: 100%;
		background-position: center;
		object-fit: contain;
		height: 65vh;
		color: $background-color-mid;
	}
}
