@import './colors';
@import './variables';
@import './typography';

// //Mobile

/* On screens that are 992px or less */
@media (max-width: 992px) {
  .header-right {
    .download-container {
      display: none;
    }
  }
  .header-left {
    display: block;
    nav {
      margin: 0;
    }
    ul {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .logo {
      position: fixed;
    }
  }
  .hide-logo {
    &:first-of-type {
      display: block;
    }
  }
  .nav-menu {
    position: fixed;
    transform: translateY(-100vh);
    left: 0;
    top: 0;
    flex-direction: column;
    width: 100%;
    align-items: center;
    z-index: 80;
    background-color: $background-menu;
    color: $font-color;
    list-style: none;
    padding: 2rem 0;
    .download-container {
      display: block;
      padding-top: 1.2rem;
    }
    &.active {
      bottom: 0;
      transform: translateY(0);
      transition: transform 0.5s ease-in-out;
      background-color: $background-menu;
    }
  }
  .toggleBtn {
    display: block;
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    color: rgb(255, 255, 255);
    background: transparent;
    border: none;
    font-size: $font-size * 1.5;
    cursor: pointer;
    transition: scale ease 0.2s;
    &:hover {
      scale: 1.1;
      transition: 0.2s ease;
    }
    .closeIcon {
      display: none;
    }
  }
  .action-btn {
    height: auto;
  }
  .container-intro {
    flex-direction: column;
    #intro-text {
      max-width: 100%;
    }
  }
  .circle-container {
    min-width: 90vmin;
  }
  .contact-wrapper {
    max-width: 100vw;
  }
  .contact-container {
    width: auto;
    h2 {
      font-size: $h2;
      padding-bottom: 1rem;
    }
    .form {
      width: 100%;
    }
    .form-row {
      flex-direction: column;
    }
    .column {
      flex: 1;
    }
  }
  .footer-container {
    flex-direction: column;
    padding: 5px;
  }
  .hero-inner {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    .hero-content {
      display: flex;
      min-width: 100%;
    }
    .hero-images {
      height: 100%;
      width: 100%;
      .hero-images-inner {
        width: 30rem;
        .hero-image {
          &.janou {
            width: 100%;
            left: -65px;
            max-height: max-content;
          }
          &.hertz {
            min-height: 100vh;
            top: 368px;
            left: 86px !important;
          }
        }
      }
    }
  }
  .btn-row:before {
    display: none;
  }
  .arrow-icon {
    display: none;
  }
}

/* Adjustments that are 768px or less */

@media (min-width: 786px) {
  .intro-text {
    padding-bottom: 3em;
  }
  .container-portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 2fr));
    height: auto;
  }
  .portfolio-item a {
    cursor: pointer;
  }
  footer {
    div {
      grid-template-columns: repeat(auto-fit, minmax(400px, 3fr));
    }
  }
}
