@import './variables';
@import './colors';
// //Desktop
@media screen and (min-width: 992px) {
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: fit-content;
		max-width: 95rem;
		padding: 0;
	}
}
/* On screens that are 992px or less */
@media screen and (max-width: 992px) {
	.nav-menu {
		position: relative;
		li {
			display: none;
		}
	}
	.action-btn-1 {
		display: none;
	}
	.toggle-btn {
		display: flex;
		justify-content: flex-end;
	}
	.dropdown-menu {
		display: flex;
		z-index: 2000;
	}
	.container-portfolio {
		display: grid;
		grid-template-columns: repeat(2, 2fr);
		height: auto;
	}
	.footer-container {
		flex-direction: column;
		padding: 5px;
	}
}

@media screen and (min-width: 600px) {
	.tile {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		justify-content: center;
		align-items: center;
		h2 {
			font-weight: 700;
			color: aliceblue;
		}
		h3 {
			font-weight: 400;
			font-style: italic;
			font-size: 2em;
			color: $secondary-color;
		}
	}
}

/* Vanaf tablet en kleiner */

@media screen and (max-width: 600px) {
	.container-portfolio {
		display: grid;
		grid-template-columns: auto;
		height: auto;
	}
}
