@import './colors';
@import './variables';

/* Mobile first*/
/* navigation */

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	height: 10em;
	padding: 0 15px;
}

.toggle-btn {
	color: $button-color;
	font-size: 1.5rem;
	cursor: pointer;
	display: none;
}

.nav-menu {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	// gap: 5px;
	z-index: 1;
	transition: 0.2s;
	cursor: pointer;
	li {
		list-style-type: none;
		background-color: transparent;
		&:hover {
			color: $primary-color;
		}
	}
	a {
		color: $color-heading;
		text-decoration: none;
		transition: 0.3s ease;
		font-size: 1.4rem;
		&:hover {
			color: $button-hover-color;
		}
		&:active {
			color: deeppink;
			background-color: transparent;
			transition: 0.3s;
		}
	}
}
.action-btn {
	background-color: $secondary-color;
	color: $button-color;
	width: 300px;
	height: 3em;
	padding: 0;
	border: none;
	outline: none;
	border-radius: 20px;
	font-weight: bold;
	font-size: 0.8rem;
	transition: scale ease 0.2s;
	cursor: pointer;
	&:hover {
		scale: 1.05;
	}
	&:active {
		scale: 0.95;
	}
}
